<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="santiye.Properties.Settings.onmuhasebesmartConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\onmuhasebesmart.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="santiye.Properties.Settings.onmuhasebeConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\onmuhasebe.accdb"
        providerName="System.Data.OleDb" />
    <add name="santiye.Properties.Settings.gruplarConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\gruplar.accdb"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
